/*************************** GLOBALS ***************************/
$border: 1px solid #5f5236;

/**************************** HEADER ***************************/
$nav-item-border-width:2px;
$nav-item-border-color:transparent;
$nav-item-border-hover:$light-grey;

/**************************** ABOUT ****************************/

/************************ FREE PREVIEW *************************/

/**************************** CAST *****************************/
$thumb-border: 1px;
$thumb-border-color: #5f5236;
$thumb-border-hover: $white;

/************************ INSIDE LOOK **************************/

/*************************** SOCIAL ****************************/

/*************************** FOOTER ****************************/