/*************************** GLOBALS ***************************/
$border: 1px solid rgba(15, 133, 186, 0.75);

/**************************** HEADER ***************************/
$nav-item-border-width:2px;
$nav-item-border-color:transparent;
$nav-item-border-hover:$white;

/**************************** ABOUT ****************************/

/************************ FREE PREVIEW *************************/

/**************************** CAST *****************************/
$thumb-border: 1px;
$thumb-border-color: $light-blue;
$thumb-border-hover: $white;

/************************ INSIDE LOOK **************************/

/*************************** SOCIAL ****************************/

/*************************** FOOTER ****************************/