/********************************* BASE COLORS *****************/
$dark-blue:#002a48;
$red: #ed1e2e;
$white: #fff;
$light-blue:#0f85ba;
$black: #000;
$light-grey:#ddd;
$med-grey:#666;
$dark-grey:#404040;

/*************************** GLOBALS ***************************/

$background: $black;

/**************************** HEADER ***************************/

/**************************** ABOUT ****************************/

/************************ FREE PREVIEW *************************/

/**************************** CAST *****************************/

/************************ INSIDE LOOK **************************/

/*************************** SOCIAL ****************************/

/*************************** FOOTER ****************************/