/********************************* BASE COLORS *****************/
$white: #fff;
$black: #000;
$light-grey:#aaa;
$medlight-grey: #a6a6a6;
$med-grey:#666;
$dark-grey:#404040;
$yellow: #ebca84;

/*************************** GLOBALS ***************************/
$background: $black;

/**************************** HEADER ***************************/
$header-link-color: $medlight-grey;
$header-link-hover: $light-grey;

/**************************** ABOUT ****************************/

/************************ FREE PREVIEW *************************/

/**************************** CAST *****************************/
$cast-name-color: $yellow;
$cast-image-background: $black;

/************************ INSIDE LOOK **************************/

/*************************** SOCIAL ****************************/

/*************************** FOOTER ****************************/