/*************************** GLOBALS ***************************/

/**************************** HEADER ***************************/
$nav-items: 4;
//SOCIAL ICONS
$si-items: 3;

/**************************** ABOUT ****************************/

/************************ FREE PREVIEW *************************/

/**************************** CAST *****************************/
$thumb-items:7;

/************************ INSIDE LOOK **************************/

/*************************** SOCIAL ****************************/

/*************************** FOOTER ****************************/