.cast{
	position:relative;
	
	.cast-bios{
		position: absolute;
		top: $bio-top; 
		width: 100%;
		
		li{
			width: $bio-width;
			height: $bio-height;
			position: absolute;
			left: 50%;
			margin-left: $bio-width/-2;
			display:none;
			
			.cast-image{
				width: $bio-image-width;
				height: $bio-image-height;
				background: $cast-image-background;
				position: absolute;
				left: 0;
				top: ($bio-height - $bio-image-height)/2;
				border: $border;
			}
			
			.cast-copy{
				width: $bio-width - $bio-space - $bio-image-width;
				right: 0;
				position: absolute;
				top: ($bio-height - $bio-image-height)/2;
				
				.name{
					color: $cast-name-color;
					font-size: 24px;
					text-transform: uppercase;
					font-weight: 700;
				}
				
				.actor{
					text-transform: uppercase;
					font-style: 18px;
					margin-top: 5px;
					margin-bottom: 20px;
				}
				
				.bio{
					@extend .copy;
				}
			}
		}
	}
	
	.cast-arrows{
		position: absolute;
		top: $bio-top + $bio-height/2 - $arrow-height/2;
		width: $bio-width + $arrow-space*2 + $arrow-width*2;
		height: $arrow-height;
		left: 50%;
		margin-left: ($bio-width + $arrow-space*2 + $arrow-width*2)/-2;
		
		a{
			display: block;
			height: $arrow-height;
			width: $arrow-width;
			position:absolute;
			
			&.next-btn{
				right: 0;
				background: url(#{$imgPath}nextbtn.png) center center no-repeat;
			}
			
			&.prev-btn{
				left: 0;
				background: url(#{$imgPath}prevbtn.png) center center no-repeat;
			}
		}
	}

	.cast-thumbs{
		position:absolute;
		margin:auto;
		width: $thumb-container;
		left: 50%;
		margin-left: $thumb-container/-2;
		bottom: $footer-height+30;
		
		li{
			float:left;
			margin-right: $thumb-spacing;
			position:relative;
			
			&:last-child{
				margin-right: 0;
			}
			
			a{
				width: $thumb-width;
				height: $thumb-height;
				border: $thumb-border solid $thumb-border-color;
				background: center center no-repeat;
				display: block;
				
				&:hover, &.selected{
					border: $thumb-border solid $thumb-border-hover;
				}
			}
			
			
		}
	}

}