.footer{
	height: $footer-height;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	@include background-image(linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5)));
	z-index: 10;
	
	.logo{
		width: $starz-width;
		height:$starz-height;
		display: block;
		background: url(#{$imgPath}logo.svg) center center no-repeat;
		margin:auto;
		margin-bottom: 5px;
	}
	
	p{
		text-align: center;
		font-size: $font-small;
		color: $med-grey;
	}
}

