.header {
	background: $black;
	width:100%;
	height:$menu-height - 1;
	position: absolute;
	top:0;
	left:0;
	border-bottom: $border;
	z-index: 10;
	
	.showta{
		background: url(#{$imgPath}ta.png) center center no-repeat;
		background-size: contain;
		width: $ta-width;
		height: $ta-height;
		margin-left: $ta-margin;
		margin-top: ( $menu-height - $ta-height )/2 - 2;
		display: block;
	}
	
	.nav{
		width: $nav-width;
		position: absolute;
		left: $ta-width + $ta-margin*2;
		top:( $menu-height - $nav-item-height )/2-3;
		
		li{
			float:left;
			text-align: center;
			//width: $nav-item-width;
			height: $nav-item-height;
			line-height: $nav-item-height;
			margin-right: $nav-item-spacing;
			
			a{
				color: $header-link-color;
				border: $nav-item-border-width solid $nav-item-border-color;
				display: inline-block;
				//width: $nav-item-width;
				height: $nav-item-height;
				text-transform: uppercase;
				padding: 0px 7px;
				
				&:hover, &.selected{
					color: $header-link-hover;
					border: $nav-item-border-width solid $nav-item-border-hover;
				}
				
				
			}
			
			&:last-child{
				margin-right:0;
			}
		}
	}
	
	.socialicons{
		position: absolute;
		right: 15px;
		top:( $menu-height - $si-height )/2;
		width: $si-total-width;
		height: $si-height;
		
		li{
			float:left;
			width: $si-width;
			height: $si-height;
			margin-right: $si-spacing;
			
			&:last-child{
				margin-right: 0;
			}
			
			a{
				width: $si-width;
				height: $si-height;
				display: block;
				background: url(#{$imgPath}socialicons.png) no-repeat;
				
				&.invite{
					background-position: 0px 0px;
					
					&:hover{
						background-position: 0px -1*$si-height;
					}
				}
				
				&.tweet{
					background-position: -1*$si-height 0px;
					
					&:hover{
						background-position: -1*$si-height -1*$si-height;
					}
				}
				
				&.share{
					background-position: -2*$si-height 0px;
					
					&:hover{
						background-position: -2*$si-height -1*$si-height;
					}
				}
			}
		}
	}
}