div.synopsis
	div.container
		div.synopsista.animate(speed="0.5" type="from" options="opacity:0,delay:0")

		p.animate(speed="0.5" type="from" options="opacity:0,delay:0.25") In the wake of Charles Town, the world lives in fear of Captain Flint. But when his campaign of terror crosses over into madness, it falls to John Silver to locate the man within the monster. Meanwhile, with Eleanor Guthrie gone, Jack Rackham and Captain Charles Vane struggle to secure Nassau for the ages. All will be tested when a new threat arrives. It knows them. It understands them. And in the blink of an eye, it will turn them against each other.