div.footer
	a.logo(href="http://www.starz.com/blacksails" target="_blank")
	p STARZ and related channels and services marks are the property of Starz Entertainment, LLC.<br>Black Sails &COPY; 2016 Starz Entertainment, LLC. All Rights Reserved.