div.footer
	a.logo(href="http://www.starz.com/blunttalk" target="_blank")
	p STARZ and related channels and services marks are the property of Starz Entertainment, LLC. Blunt Talk &copy; 2015 MRC II Distribution Company, LP. All rights reserved.