
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="description" content="Blunt Talk"/>
<meta property="og:url" content="https://www.starz.com/sc/features/blunttalk/facebook/generic/index.html"/>
<meta property="og:title" content="Blunt Talk"/>
<meta property="og:description" content="Exclusive content from Blunt Talk, premiering on STARZ August 22 at 9PM ET/PT."/>
<meta property="og:image" content="https://www.starz.com/sc/features/blunttalk/facebook/generic/img/111x7f.jpg"/>
<title>Blunt Talk</title>
<link href="css/main.css" rel="stylesheet" type="text/css"/>