
<div class="header">
  <ul class="nav">
    <li><a href="javascript:void(0);" path="0" class="navlink">About</a></li>
    <li><a href="javascript:void(0);" path="1" class="navlink">Cast</a></li>
    <li><a href="javascript:void(0);" path="2" class="navlink">Inside Look</a></li>
    <li><a href="javascript:void(0);" path="3" class="navlink">Social</a></li>
  </ul><a path="0" href="javascript:void(0);" class="showta"></a>
  <ul class="socialicons">
    <li><a href="javascript:void(0);" class="invite"></a></li>
    <li><a href="javascript:void(0);" class="share"></a></li>
    <li><a href="javascript:void(0);" class="tweet"></a></li>
  </ul>
</div>