
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
<meta name="description" content="Black Sails"/>
<meta property="og:url" content="https://www.starz.com/sc/features/blacksails3/facebook/generic/index.html"/>
<meta property="og:title" content="Black Sails"/>
<meta property="og:description" content="Exclusive content from Black Sails, returning on STARZ January 23rd."/>
<meta property="og:image" content="https://www.starz.com/sc/features/blacksails3/facebook/generic/img/111x7f.jpg"/>
<title>Black Sails</title>
<link href="css/main.css" rel="stylesheet" type="text/css"/>