
<div class="header">
  <ul class="nav">
    <li><a href="javascript:void(0);" path="1" id="nav1" class="navlink">About</a></li>
    <li><a href="javascript:void(0);" path="2" id="nav2" class="navlink">Cast</a></li>
    <li><a href="javascript:void(0);" path="3" id="nav3" class="navlink">Inside Look</a></li>
    <li><a href="javascript:void(0);" path="4" id="nav4" class="navlink">Social</a></li>
    <li><a href="javascript:void(0);" path="5" id="nav5" class="navlink">Downloads</a></li>
  </ul><a path="0" href="javascript:void(0);" class="showta"></a>
  <ul class="socialicons">
    <li><a href="javascript:void(0);" class="invite"></a></li>
    <li><a href="javascript:void(0);" class="share"></a></li>
    <li><a href="javascript:void(0);" class="tweet"></a></li>
  </ul>
</div>